<div class="eqLogic eqLogic-widget allowResize #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
    <span class="pull-right cursor" style="color: var(--eqTitle-color) !important;">#latitude# &nbsp; #longitude#</span> &nbsp; 
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
	<div class="#isVerticalAlign#">
    <div style="position : relative; left: 0px; margin-top: 10px;">
        <!-- Graphique elevation/heure -->
      <div class="pull-left cursor" style="margin-left: 5px;margin-top: 0px;margin-right: 5px">
        <div id="sunAlt#id#" style="display:#sunAlt_display#; width: calc(#width# - 10px); height: calc(#width# *2.5/4);" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#sunAlt_id#"></div>
      </div>
        <!-- Rose des vents positions soleil -->
      <center>
      <div style="margin-right: 15px;margin-top: 5px;">
        <div id="azimuth#id#" style="display:#azimuth360_display#; width: 120px; height: 120px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#azimuth360_id#"></div>
      </div>
      </center>
    </div>
  </div>
    <!-- TODO prevent multiload -->
  <script type="text/javascript" src="3rdparty/highstock/modules/annotations.js"></script>
  <script>
		if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}

    var chart1;
    var chart2;
    if($('#azimuth#id#').html() != undefined){
      chart1 = new Highcharts.Chart('azimuth#id#',{
        chart: {
          type: 'gauge',
          backgroundColor: 'transparent',
          plotBackgroundColor: null,
          plotBackgroundImage: null,
          plotBorderWidth: 0,
          plotShadow: false,
          spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
        },
        title: { text: null },
        credits: { enabled: false },
        pane: { startAngle: 0, endAngle: 360, background: null },
        exporting : { enabled: false },
        plotOptions: {
          series: { dataLabels: { enabled: false }
          },
          gauge: {
            dial: { backgroundColor: 'red',
              borderColor: 'red'
            },
            pivot: { backgroundColor: 'silver'
            }
          }
        },
        yAxis: {
          min: 0, max: 360,
          lineWidth: 0,
          tickWidth: 2, tickLength: 10, tickInterval: 45,
          minorTickInterval: 22.5, minorTickLength: 7,
          labels: {
            distance: -16, padding: 1,
            formatter: function () {
              if (this.value == 360) return 'N';
							else if (this.value == 90) return 'E';
							else if (this.value == 180) return 'S';
							else if (this.value == 270) return 'W';
            }
          },
					title: { text: null },
          plotBands: [
            { from: 0, to: #aztsunrise#, color: '#bandColor1#', thickness: 6 // nuit
            },
            { from: #aztsunrise#, to: #aztsunset#, color: '#bandColor2#', thickness: 6 // jour
            },
            { from: #aztsunset#, to: 360, color: '#bandColor1#', thickness: 6 // nuit
            }
          ]
        },
        series: [{ name: 'Azimut', data: [#azimuth360#]
        }]
      });
    }
    if($('#sunAlt#id#').html() != undefined) {
      chart2 = new Highcharts.Chart('sunAlt#id#',{
        time: { useUTC: false },
        chart: {
              type: 'areaspline',
              backgroundColor: 'transparent',
              plotBackgroundColor: null,
              plotBackgroundImage: null,
              spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
        },
        title: { text: null },
        credits: { enabled: false },
        exporting : { enabled: false },
        subtitle: { text: '#daylenTxt#',
          floating: true,
          verticalAlign: 'bottom',
          y: -8
        },
        xAxis: {
          showFirstLabel: false,
          showLastLabel: false,
          startOnTick: false,
          endOnTick: false,
          lineWidth: 1,
          tickLength: 4,
          labels: {
            y: 12,
          },
          // tickInterval: 3, // step: 2,
          type: 'datetime',
          dateTimeLabelFormats: { hour: '%H' },
        },
        yAxis: {
          title: { text: undefined },
          tickInterval: 15,
          // min: #minElev#, max:#maxElev#,
          lineWidth: 1,
          labels: {
            formatter: function () { return this.value + '°'; },
            x: -4,
          },
          /*
          plotLines: [{
                value: #minElev#,
                color: '#3C73A5',
                width: 1,
                label: {
                    text: 'Elévation minimum année #minElev#°'
                }
            }, {
                value: #maxElev#,
                color: '#3C73A5',
                width: 1,
                label: {
                    text: 'Elévation maximum année #maxElev#°'
                }
            }]
          */
        },
        tooltip: { crosshairs: true, shared: true,
          headerFormat: '<b>{point.msg}</b><br>',
          pointFormat: 'Elévation: {point.y:.2f}°<br>Azimut: {point.z:.1f}° '
        },
        plotOptions: {
          series: { dataLabels: { enabled: false }},
        },
        annotations: [
          { // draggable: '',
            labelOptions: {
              shape: 'connector',
              padding: 0,
              distance: 2,
              verticalAlign: 'bottom',
            },
            labels: [
              { point: 'transit',
                text: '{point.msg}',
                style: {
                  color: 'var(--txt-color) !important;',
                },
                align: 'center',
                borderColor: 'transparent', // efface le trait de liaison
              },
            ]
          },
          { labelOptions: {
              shape: 'connector',
              padding: 0,
              verticalAlign: 'bottom',
            },
            labels: [
              { point: 'sunrise',
                text: '{point.msg}',
                style: {
                  color: 'var(--txt-color) !important;',
                },
                align: 'right',
                borderColor: 'transparent', // efface le trait de liaison
              }, 
              { point: 'sunset',
                text: '{point.msg}',
                style: {
                  color: 'var(--txt-color) !important;',
                },
                align: 'left',
                borderColor: 'transparent', // pour effacer le trait de liaison
              } 
            ]
          }
        ],
        series: [
          { showInLegend: false,
            name: 'Elévation soleil',
            type: 'areaspline',
            linewidth: 0,
            color: '#8EBEEB',
            negativeColor: '#3C73A5',
            marker: { enabled: 1, radius: 0 },
            data: [ #altSerie# ]
          },{
            showInLegend: false,
            name: 'Elévation soleil',
            type: 'spline',
            linewidth: 0,
            color: '#8EBEEB',
            negativeColor: '#3C73A5',
            marker: { enabled: 1, radius: 0 },
            data: [ #altSerie2# ]
          }
        ]
      });
    }
  </script>
</div>
