<div class="eqLogic-widget eqLogic" style="width: 350px;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #name# </a></strong></center>
<div style="position : relative; left : 10px;" class="tooltips" title="#collectDate#">
    <div class="pull-right" style="margin-right: 35px;margin-top: 5px;">
		<span id="azimuth#id#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#azimuth360_id#"></span>
    </div>
	<div class="pull-left" style="margin-left: 15px;margin-top: 5px;">
		<span id="sunAlt#id#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#sunAlt_id#"></span>
    </div><br/>
	<div style="margin-top: 0px;">
		<center style="left:0px;"><i style="#heliosun#;" class="fa fa-sun-o fa-3x"></i> | <i style="#heliomoon#;" class="fa fa-moon-o fa-3x"></i></center>
		<center style="font-size: 1em; position: relative;left:3px;cursor:default;">#sunrise# | #sunset#</center>
	</div>
</div><br/>
<script>
var chart1;
var chart2;
if($('#azimuth#id#').html() != undefined){
	chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'azimuth#id#',
            type: 'gauge',
            backgroundColor: 'transparent',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0,
            spacingBottom: 0
        },
        title: {
            text: null
        },
        credits: {
            enabled: false
        },
        pane: {
            startAngle: 0,
            endAngle: 360,
        },
        exporting : {
            enabled: false
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: false
                },
                color: '#FFFFFF',
            },
            gauge: {
                dial: {
                    radius: '90%',
                    backgroundColor: 'silver',
                    borderColor: 'silver',
                    borderWidth: 1,
                    baseWidth: 6,
                    topWidth: 1,
                            baseLength: '75%', // of radius
                            rearLength: '15%'
                        },
                        pivot: {
                            backgroundColor: 'white',
                            radius: 0,
                        }
                    }
                },
                pane: {background: [{backgroundColor: 'transparent'}]},
                yAxis: {
                    min: 0,
                    max: 360,
                    tickWidth: 2,
                    tickLength: 10,
                    tickColor: '#FFFFFF',
                    tickInterval: 90,
                    lineColor: '#FFFFFF',
                    lineWidth: 4,
                    labels: {
                        formatter: function () {
                            if (this.value == 360) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">N</span>';
                            } else if (this.value == 90) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">E</span>';
                            } else if (this.value == 180) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">S</span>';
                            } else if (this.value == 270) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">W</span>';
                            }
                        }
                    },
                    title: {
                        text: null
                    }},
                    series: [{
                        name: 'Azth',
                        data: [#azimuth360#]
                    }]
                });
}
if($('#sunAlt#id#').html() != undefined){

	chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'sunAlt#id#',
            type: 'gauge',
            backgroundColor: 'transparent',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false,
            spacingTop: 0,
            spacingLeft: 0,
            spacingRight: 0,
            spacingBottom: 0
        },
        title: {
            text: null
        },
        credits: {
            enabled: false
        },
        pane: {
            startAngle: 0,
            endAngle: 360,
        },
        exporting : {
            enabled: false
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: false
                },
                color: '#FFFFFF',
            },
            gauge: {
                dial: {
                    radius: '90%',
                    backgroundColor: 'silver',
                    borderColor: 'silver',
                    borderWidth: 1,
                    baseWidth: 6,
                    topWidth: 1,
                            baseLength: '75%', // of radius
                            rearLength: '15%'
                        },
                        pivot: {
                            backgroundColor: 'white',
                            radius: 0,
                        }
                    }
                },
                pane: {background: [{backgroundColor: 'transparent'}]},
                yAxis: {
                    min: -265,
                    max: 90,
                    tickWidth: 2,
                    tickLength: 10,
                    tickColor: '#FFFFFF',
                    tickInterval: 45,
                    lineColor: '#FFFFFF',
                    lineWidth: 4,
                    labels: {
                        formatter: function () {
                            if (this.value == 0) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">0</span>';
                            } else if (this.value == 45) {
                                return '<span style="color : #FFFFFF;font-weight:bold;"></span>';
                            } else if (this.value == 90) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">90</span>';
							} else if (this.value == -45) {
                                return '<span style="color : #FFFFFF;font-weight:bold;"></span>';
							} else if (this.value == -90) {
                                return '<span style="color : #FFFFFF;font-weight:bold;">-90</span>';
							}
                        }
                    },
                    title: {
                        text: null
                    }},
                    series: [{
                        name: 'Alt',
                        data: [#altitude#]
                    }]
                });
}
</script>
</div>
