<div class="eqLogic eqLogic-widget" style="background-color: #background_color#" data-eqLogic_id="#id#" data-version="mobile">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <center>#name#</center>
	<center style="margin-top: 5px;">
		<span style="margin-left: 0px" title="Azimuth"><i class="fa fa-adjust fa-1x"></i> : #azimuth360#</span>
		<span style="margin-left: 5px" title="Altitude"><i class="fa fa-compass fa-1x"></i> : #altitude#</span>
	</center>
	<center style="margin-top: 5px;">
		<span style="margin-left: 0px" title="Lever"><i class="fa fa-sun-o fa-1x"></i> : #sunrise#</span>
		<span style="margin-left: 5px" title="Coucher"><i class="fa fa-moon-o fa-1x"></i> : #sunset#</span>
	</center>

</div>
