<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
		<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
<span class="pull-right cursor"><i id="yourvigilance#id#" class="fas fa-info-circle" style="color: var(--eqTitle-color) !important;"></i></span> &nbsp; <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
	</center><br />
	<center style="margin-top: 5px;">
		<span style="margin-left: 0px" title="Azimuth"><i class="fas fa-compass fa-1x"></i> : #azimuth360#°</span>
		<span style="margin-left: 5px" title="Altitude"><i class="fas fa-adjust fa-1x"></i> : #altitude#°</span>
	</center>
	<center style="margin-top: 5px;">
		<span style="margin-left: 0px" title="Lever"><i class="fas fa-sun-o fa-1x"></i> : #sunrise#</span>
		<span style="margin-left: 5px" title="Coucher"><i class="fas fa-moon-o fa-1x"></i> : #sunset#</span>
	</center>

</div>
